/res/out
out2
/res/input/jedi.png
/res/input/12.jpg
/res/input/night.jpg
/res/input/mona.jpg
/res/input/area_subdivision.png
/res/input/venus.jpg
/res/input/test.png
/res/input/eifel2.jpg
/res/input/eifel.jpg
/res/input/circle.png
/res/input/500x500.png
/res/input/100x100.png
/res/input/dog.jpg
/res/input/balaton.jpg
/res/input/csonak.jpg
/res/input/model.jpg
/res/output/*.png
/res/output/*.MP4
/res/output/*.mp4
/res/video/jedi.mp4
/.settings
/target
/*.classpath
